.pull-right-addon {
    position: absolute;
    width: 100%;
    top: 5.5%;
}

.pull-right-addon>a:first-of-type {
    position: absolute;
    right: 14.5%;
}

.pull-right-addon>a:last-of-type {
    position: absolute;
    right: 6%;
}

table.dataTable tbody a {
    margin-right: 3px;
    height: 25px;
    width: 25px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    line-height: 16px;
    border-radius: 5px;
}
