<!-- header start -->
<%- include("../layout/header") %>
<!-- header end -->
<!-- content area start -->
<div class="blog-area pt-80 pb-80 pro-col-40 section-padding-3 blog-sidebar-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="row grid" data-show="12" data-load="4">
                    <div class="col-xl-4 col-lg-6 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 mb-55">
                            <div class="blog-img hover-3">
                                <a href="blog-details.html">
                                    <img src="/uploads/blog-masonry1.jpg" alt="">
                                </a>
                                <div class="readmore-icon">
                                    <a href="blog-details.html">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-content-masonry">
                                <div class="blog-meta-3">
                                    <ul>
                                        <li>22 April, 2018</li>
                                        <li><a href="#">4 Comments </a></li>
                                    </ul>
                                </div>
                                <h4><a href="blog-details.html">The Beauty Products I’m Obsessed with Right Now On Sale</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 mb-55">
                            <div class="blog-img hover-3">
                                <a href="blog-details.html">
                                    <img src="/uploads/blog-masonry-fw2.jpg" alt="">
                                </a>
                                <div class="readmore-icon">
                                    <a href="blog-details.html">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-content-masonry">
                                <div class="blog-meta-3">
                                    <ul>
                                        <li>22 April, 2018</li>
                                        <li><a href="#">4 Comments </a></li>
                                    </ul>
                                </div>
                                <h4><a href="blog-details.html">Our Canada Travel Diary with The Four Seasons Whistler</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 mb-55">
                            <div class="blog-img hover-3">
                                <a href="blog-details.html">
                                    <img src="/uploads/blog-masonry-fw3.jpg" alt="">
                                </a>
                                <div class="readmore-icon">
                                    <a href="blog-details.html">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-content-masonry">
                                <div class="blog-meta-3">
                                    <ul>
                                        <li>11 April, 2018</li>
                                        <li><a href="#">5 Comments </a></li>
                                    </ul>
                                </div>
                                <h4><a href="blog-details.html">At the Museum of Contemporary Art Paintings Of His Dreams</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-load-more load-more-border text-center mt-5">
                    <a class="load-more-toggle default-btn btn-hover" href="#">Load More Posts </a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="pro-sidebar-style pl-20 blog-masonry-res sidebar-mrg">
                    <div class="pro-sidebar-search mb-55">
                        <form class="pro-sidebar-search-form" action="#">
                            <input type="text" placeholder="Search here...">
                            <button>
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-widget mb-55">
                        <h4 class="pro-sidebar-title">Recent Projects </h4>
                        <div class="sidebar-project-wrap mt-30">
                            <div class="single-sidebar-project">
                                <div class="sidebar-project-img">
                                    <a href="#"><img src="/uploads/sidebar-1.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-project-content">
                                    <span>Photography</span>
                                    <h4><a href="#">The Planetary Fund</a></h4>
                                </div>
                            </div>
                            <div class="single-sidebar-project">
                                <div class="sidebar-project-img">
                                    <a href="#"><img src="/uploads/sidebar-2.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-project-content">
                                    <span>Branding</span>
                                    <h4><a href="#">Let's Change the World</a></h4>
                                </div>
                            </div>
                            <div class="single-sidebar-project">
                                <div class="sidebar-project-img">
                                    <a href="#"><img src="/uploads/sidebar-3.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-project-content">
                                    <span>Design</span>
                                    <h4><a href="#">Space Tesla Design</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Categories </h4>
                        <div class="sidebar-categori mt-25">
                            <ul>
                                <li><a href="#">Artwork <span>(9)</span></a></li>
                                <li><a href="#">Branding <span>(12)</span></a></li>
                                <li><a href="#">Graphics <span>(5)</span></a></li>
                                <li><a href="#">Photography <span>(16)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content area end -->
<!-- footer start -->
<%- include("../layout/footer") %>
<%- include("../layout/close") %>
<!-- footer end -->
