<div class="blog-comments-area border-bottom-4 pb-60">
    <h4 class="blog-details-title text-center">Comments</h4>
    <div class="blog-comments-wrap">
        <div class="single-blog-bundel">
            <div class="single-blog-comment mb-60">
                <div class="blog-comment-img">
                    <img alt="" src="/uploads/sidebar-1.jpg">
                </div>
                <div class="blog-comment-content">
                    <div class="comment-name-reply">
                        <span>White Lewis</span>
                        <a href="#">Reply</a>
                    </div>
                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. Maecenas bibendum bibendum larius.</p>
                </div>
            </div>
            <div class="single-blog-comment child-blog-comment mb-60 ml-70">
                <div class="blog-comment-img">
                    <img alt="" src="/uploads/sidebar-1.jpg">
                </div>
                <div class="blog-comment-content">
                    <div class="comment-name-reply">
                        <span>White Lewis</span>
                        <a href="#">Reply</a>
                    </div>
                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. Maecenas bibendum bibendum larius.</p>
                </div>
            </div>
        </div>
        <div class="single-blog-bundel">
            <div class="single-blog-comment mb-60">
                <div class="blog-comment-img">
                    <img alt="" src="/uploads/sidebar-1.jpg">
                </div>
                <div class="blog-comment-content">
                    <div class="comment-name-reply">
                        <span>White Lewis</span>
                        <a href="#">Reply</a>
                    </div>
                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. Maecenas bibendum bibendum larius.</p>
                </div>
            </div>
            <div class="single-blog-comment child-blog-comment ml-70">
                <div class="blog-comment-img">
                    <img alt="" src="/uploads/sidebar-1.jpg">
                </div>
                <div class="blog-comment-content">
                    <div class="comment-name-reply">
                        <span>White Lewis</span>
                        <a href="#">Reply</a>
                    </div>
                    <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra.
                        Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis convallis leo. </p>
                </div>
            </div>
        </div>
    </div>
</div>
