<div class="blog-reply-area pt-45">
    <h4 class="blog-details-title">Leave A Reply</h4>
    <div class="blog-form-wrapper custom-col-15">
        <form action="#">
            <div class="row">
                <div class="col-md-4">
                    <div class="leave-form">
                        <input type="text" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="leave-form">
                        <input type="text" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="leave-form">
                        <input type="email" placeholder="Website">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-leave">
                        <textarea placeholder="Add a Comment"></textarea>
                        <input type="submit" value="Post Comment">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
