<!-- header start -->
<%- include("../layout/header") %>
<!-- header end -->
<!-- content area start -->
<div class="blog-area pt-80 pb-80 pro-col-40 section-padding-3 blog-sidebar-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="row grid" data-show="12" data-load="4">
                    <div class="col-xl-4 col-lg-6 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 mb-55">
                            <div class="blog-img hover-3">
                                <a href="/blog/single">
                                    <img src="/uploads/blog-masonry1.jpg" alt="">
                                </a>
                                <div class="readmore-icon">
                                    <a href="/blog/single">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-content-masonry">
                                <div class="blog-meta-3">
                                    <ul>
                                        <li>22 April, 2018</li>
                                        <li><a href="#">4 Comments </a></li>
                                    </ul>
                                </div>
                                <h4><a href="/blog/single">The Beauty Products I’m Obsessed with Right Now On Sale</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 mb-55">
                            <div class="blog-img hover-3">
                                <a href="/blog/single">
                                    <img src="/uploads/blog-masonry-fw2.jpg" alt="">
                                </a>
                                <div class="readmore-icon">
                                    <a href="/blog/single">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-content-masonry">
                                <div class="blog-meta-3">
                                    <ul>
                                        <li>22 April, 2018</li>
                                        <li><a href="#">4 Comments </a></li>
                                    </ul>
                                </div>
                                <h4><a href="/blog/single">Our Canada Travel Diary with The Four Seasons Whistler</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 item-hidden grid-item">
                        <div class="blog-wrap-2 mb-55">
                            <div class="blog-img hover-3">
                                <a href="/blog/single">
                                    <img src="/uploads/blog-masonry-fw3.jpg" alt="">
                                </a>
                                <div class="readmore-icon">
                                    <a href="/blog/single">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="blog-content-masonry">
                                <div class="blog-meta-3">
                                    <ul>
                                        <li>11 April, 2018</li>
                                        <li><a href="#">5 Comments </a></li>
                                    </ul>
                                </div>
                                <h4><a href="/blog/single">At the Museum of Contemporary Art Paintings Of His Dreams</a></h4>
                                <p>Aenean sollicitudin, lorem quis on endum uctor nisi elitod the cona sequat ipsum, necas sagittis sem natoque nibh id penatibus elit imperdiet... </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-load-more load-more-border text-center mt-5">
                    <a class="load-more-toggle default-btn btn-hover" href="#">Load More Posts </a>
                </div>
            </div>
            <%- include("./sidebar") %>
        </div>
    </div>
</div>
<!-- content area end -->
<!-- footer start -->
<%- include("../layout/footer") %>
<%- include("../layout/close") %>
<!-- footer end -->
