<%- include("../layout/header") %>
<div class="contact-area pt-15">
    <div class="pt-80 pb-80 gray-bg-4 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="contact-info-area">
                        <h2>Contact</h2>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elituis. </p>
                        <div class="contact-info-wrap">
                            <div class="single-contact-info">
                                <div class="contact-info-icon">
                                    <i class="ti-location-pin"></i>
                                </div>
                                <div class="contact-info-content">
                                    <p>Gulshan, Dhaka, Bangladesh</p>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="contact-info-icon">
                                    <i class="ti-mobile"></i>
                                </div>
                                <div class="contact-info-content">
                                    <p>+88 01720000001</p>
                                </div>
                            </div>
                            <div class="single-contact-info">
                                <div class="contact-info-icon">
                                    <i class="ti-email"></i>
                                </div>
                                <div class="contact-info-content">
                                    <p><a href="#">contact.octapia@gmail.com</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="pl-85">
                        <div class="contact-from contact-shadow">
                            <form id="contact-form" action="https://demo.hasthemes.com/donna-preview/donna/assets/mail.php" method="post">
                                <input name="name" type="text" placeholder="Name">
                                <input name="email" type="text" placeholder="Email">
                                <textarea name="message" placeholder="Your message"></textarea>
                                <input class="submit" type="submit" value="Send Message">
                            </form>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer start -->
<%- include("../layout/footer") %>
<%- include("../layout/close") %>
<!-- footer end -->
