<nav>
    <ul class="pagination d-flex flex-wrap pagination-rounded-separated justify-content-end  pagination-danger">
        <li class="page-item topLinkPageTitle">
            <div class="badge badge-outline-primary badge-pill">
                <%= metaTitle %>
            </div>
        </li>
        <li class="page-item">
            <a href="<%= create %>" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> New
            </a>
        </li>
        <li class="page-item">
            <a href="<%= read %>" class="btn btn-success btn-sm">
                <i class="fa fa-th-list"></i> List
            </a>
        </li>
    </ul>
</nav>
<hr />
