<!-- breadcrumb area -->
<div class="breadcrumb-area bg-img pt-230 pb-152 default-overlay-2" style="background-image: url(/uploads/breadcrumb.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>
                <%= singlePageTitle || metaTitle %>
            </h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <%= metaTitle %>
                </li>
            </ul>
        </div>
    </div>
</div>
