<!-- breadcrumb area -->
<div class="breadcrumb-area bg-img pt-230 pb-152 " style="background-image: url(/uploads/breadcrumb.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: left top; background-size: cover;">
    <div class="container">
        <div class="breadcrumb-content breadcrumb-black2 text-center">
            <h2>
                <%= singlePageTitle || metaTitle %>
            </h2>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <%= metaTitle %>
                </li>
            </ul>
        </div>
    </div>
</div>
