<div class="header-search mr-20">
    <a href="/register" title="Register">
        <span class="ti-user text-danger"></span>
    </a>
</div>
<div class="header-search mr-20">
    <a href="/login" title="Register | Login">
        <span class="ti-lock text-success"></span>
    </a>
</div>
<div class="header-search mr-20">
    <button class="sidebar-trigger-search">
        <span class="ti-search text-primary"></span>
    </button>
</div>
<div class="bar-icon">
    <button class="header-navbar-active">
        <span class="ti-menu text-secondary"></span>
    </button>
</div>
