<header class="header-area transparent-bar sticky-bar header-black  header-padding header-padding header-hm6 ">
    <div class="container-fluid">
        <div class="header-wrap header-flex">
            <div class="logo mt-30">
                <a href="/">
                    <img class="logo-normally-none" alt="" src="/images/logo.svg">
                    <img class="logo-sticky-none" alt="" src="/images/logo.svg">
                </a>
            </div>
            <div class="main-menu">
                <nav>
                    <ul>
                        <%- include("./nav-links") %>
                    </ul>
                </nav>
            </div>
            <div class="header-right-wrap mt-50">
                <%- include("./nav-links-right") %>
            </div>
        </div>
        <div class="mobile-menu-area">
            <div class="mobile-menu">
                <nav id="mobile-menu-active">
                    <ul class="menu-overflow">
                        <%- include("./nav-links") %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
