<div class="sc-testimonial-wrap3">
    <div class="testimonial-area pt-115 pb-110">
        <div class="container">
            <div class="section-title-6 text-center mb-0">
                <h2 class="common-title-style">Awesome Gallery</h2>
            </div>
        </div>
    </div>
</div>
<div class="instagram-area">
    <div class="instagram-wrap-3">
        <div class="instragram-active-4 owl-carousel">
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (4).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (1).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (2).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (3).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (5).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (6).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (7).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (8).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (9).jpg"></a>
            </div>
            <div class="single-instragram zoom-hover">
                <a href="#"><img alt="" src="/uploads/365x365 (10).jpg"></a>
            </div>
        </div>
    </div>
</div>
