<div class="summary-info sidebar-active">
    <div class="wrap-sidebar">
        <div class="sidebar-nav-icon">
            <button class="op-sidebar-close"><span class="ti-close"></span></button>
        </div>
        <div class="summary-info-all">
            <div class="summary-logo">
                <a href="index.html">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>
            <div class="summary-list-wrap">
                <h5>Our Services</h5>
                <div class="summary-list">
                    <ul>
                        <li><i class="ti-hand-point-right"></i>Web Design & Development</li>
                        <li><i class="ti-hand-point-right"></i>App Development</li>
                        <li><i class="ti-hand-point-right"></i>Graphics Design</li>
                        <li><i class="ti-hand-point-right"></i>Digital Marketing</li>
                    </ul>
                </div>
                <br />
                <h5>Fell Free To Contact Us</h5>
                <div class="sidebar-contact-list">
                    <ul>
                        <li><i class="ti-location-pin"></i>+88 - 01720092787</li>
                        <li>
                            <i class="ti-email"></i>
                            <a href="mailto:octapia.contact@gmail.com">octapia.contact@gmail.com</a>
                        </li>
                        <li><i class="ti-location-pin"></i>Mohakhali, Dhaka, Bangladesh</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
