<!-- header start -->
<%- include("../layout/header") %>
<!-- header end -->
<!-- content area start -->
<div class="single-product-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-details-img pr-10">
                    <img class="zoompro" src="/uploads/product-single.png" data-zoom-image="/uploads/product-single.png" alt="zoom" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details-content pl-10">
                    <h2>Multipurpose Business Website</h2>
                    <div class="pro-details-rating-wrap">
                        <div class="pro-details-rating">
                            <i class="ti-star theme-color"></i>
                            <i class="ti-star theme-color"></i>
                            <i class="ti-star theme-color"></i>
                            <i class="ti-star theme-color"></i>
                            <i class="ti-star gray-color"></i>
                        </div>
                        <span>(1 customer review)</span>
                    </div>
                    <h3>20,000 /= taka</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunca augue quis neque ultr ices placerat sit amet quis mauris. Integer urna libero, aliquet id neque posu ullamcorp er fringilla dolor. Maecenas id mattis magna. Nam a dui rhoncus mi sollicitudin pretium. </p>
                    <div class="amazon-btn mt-40 mb-45">
                        <a class="btn-hover" href="/contact">Contact to buy now</a>
                    </div>
                    <div class="pro-details-info-wrap">
                        <div class="pro-details-info-list">
                            <ul>
                                <li class="pro-details-info-title">Categories</li>
                                <li><a href="#">Web Application,</a></li>
                                <li><a href="#">Web Design & Development</a></li>
                            </ul>
                        </div>
                        <div class="pro-details-info-list">
                            <ul>
                                <li class="pro-details-info-title">Tags</li>
                                <li><a href="#">Node.js,</a></li>
                                <li><a href="#">Web Application,</a></li>
                                <li><a href="#">Web Design & Development,</a></li>
                                <li><a href="#">Javascript</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pro-details-social">
                        <ul>
                            <li class="pro-details-info-title">Share with </li>
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-70">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a class="active" data-toggle="tab" href="#des-details1">Description</a>
                <a data-toggle="tab" href="#des-details2">Additional information</a>
                <a data-toggle="tab" href="#des-details3">Reviews</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar massa metus, vitae pharetra lacus sodales sit amet. Morbi accumsan suscipit lacus, sit amet egestas magna elemen tum nec. Mauris urna enim, rutrum in iaculis nec, vehicula ut libero. Etiam sit amet ex orci. Duis eget consectetur libero, eget interdum metus. Aliquam rhoncus porttitor felis, a tincidunt ex scel erisque et. Morbi faucibus venenatis dignissim. Nullam ut facilisis mauris. In hac habitasse platea dictumst. </p>
                        <p>Pellentesque luctus augue ipsum, ut tincidunt odio tempus at. Nullam ac quam venenatis, bibendum eros at, placerat risus. Maecenas cursus elit non nisl finibus congue. Donec posuere fringilla ante eu vehicula. Fusce sed erat quis nisi gravida vehicula id vitae dolor. In at libero pretium, maximus lorem vitae, pharetra turpis feugiat facilisis ullamcorper. </p>
                    </div>
                </div>
                <div id="des-details2" class="tab-pane ">
                    <div class="product-anotherinfo-wrapper">
                        <ul>
                            <li><span>Weight</span> 400 g</li>
                            <li><span>Dimensions</span>10 x 10 x 15 cm </li>
                            <li><span>Materials</span> 60% cotton, 40% polyester</li>
                            <li><span>Other Info</span> American heirloom jean shorts pug seitan letterpress</li>
                        </ul>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="review-wrapper">
                                <div class="single-review">
                                    <div class="review-img">
                                        <img alt="" src="/uploads/sidebar-3.jpg">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>White Lewis</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star gray-color"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla nec, convallis conval lis leo. Maecenas bibendum bibendum larius.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-review child-review">
                                    <div class="review-img">
                                        <img alt="" src="/uploads/sidebar-2.jpg">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>White Lewis</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star theme-color"></i>
                                                    <i class="ti-star gray-color"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Sus pen disse viverra ed viverra. Mauris ullarper euismod vehicula. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="ratting-form-wrapper pl-50">
                                <h3>Add a Review</h3>
                                <div class="ratting-form">
                                    <form action="#">
                                        <div class="star-box">
                                            <span>Your rating:</span>
                                            <div class="ratting-star">
                                                <i class="ti-star"></i>
                                                <i class="ti-star"></i>
                                                <i class="ti-star"></i>
                                                <i class="ti-star"></i>
                                                <i class="ti-star"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-10">
                                                    <input placeholder="Name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-10">
                                                    <input placeholder="Email" type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="rating-form-style form-submit">
                                                    <textarea name="Your Review" placeholder="Message"></textarea>
                                                    <input type="submit" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="related-product mb-75">
    <div class="container">
        <div class="related-product-title text-center mb-25">
            <h4>Few More Amazing Products</h4>
        </div>
        <div class="related-product-active owl-carousel">
            <div class="shop-wrap">
                <div class="shop-img">
                    <a href="/portfolio/single">
                        <img src="/uploads/grid3-col-2.jpg" alt="">
                    </a>
                    <div class="shop-hover">
                        <div class="shop-card">
                            <a href="/contact" title="Contact to Bye">Contact to Bye <i class="ti-mobile"></i></a>
                        </div>
                        <div class="shop-wishlist">
                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="shop-content">
                    <div class="shop-name">
                        <h4><a href="/portfolio/single">Product Name</a></h4>
                    </div>
                    <div class="shop-price">
                        <span class="new">20,000 tk</span>
                    </div>
                </div>
            </div>
            <div class="shop-wrap">
                <div class="shop-img">
                    <a href="/portfolio/single">
                        <img src="/uploads/grid3-col-7.jpg" alt="">
                    </a>
                    <span class="new">New</span>
                    <div class="shop-hover">
                        <div class="shop-card">
                            <a href="/contact" title="Contact to Bye">Contact to Bye <i class="ti-mobile"></i></a>
                        </div>
                        <div class="shop-wishlist">
                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="shop-content">
                    <div class="shop-name">
                        <h4><a href="/portfolio/single">Product Name</a></h4>
                    </div>
                    <div class="shop-price">
                        <span class="new">20,000 tk</span>
                    </div>
                </div>
            </div>
            <div class="shop-wrap">
                <div class="shop-img">
                    <a href="/portfolio/single">
                        <img src="/uploads/grid3-col-3.jpg" alt="">
                    </a>
                    <div class="shop-hover">
                        <div class="shop-card">
                            <a href="/contact" title="Contact to Bye">Contact to Bye <i class="ti-mobile"></i></a>
                        </div>
                        <div class="shop-wishlist">
                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="shop-content">
                    <div class="shop-name">
                        <h4><a href="/portfolio/single">Product Name</a></h4>
                    </div>
                    <div class="shop-price">
                        <span class="new">20,000 tk</span>
                    </div>
                </div>
            </div>
            <div class="shop-wrap">
                <div class="shop-img">
                    <a href="/portfolio/single">
                        <img src="/uploads/grid3-col-6.jpg" alt="">
                    </a>
                    <div class="shop-hover">
                        <div class="shop-card">
                            <a href="/contact" title="Contact to Bye">Contact to Bye <i class="ti-mobile"></i></a>
                        </div>
                        <div class="shop-wishlist">
                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="shop-content">
                    <div class="shop-name">
                        <h4><a href="/portfolio/single">Product Name</a></h4>
                    </div>
                    <div class="shop-price">
                        <span class="new">20,000 tk</span>
                    </div>
                </div>
            </div>
            <div class="shop-wrap">
                <div class="shop-img">
                    <a href="/portfolio/single">
                        <img src="/uploads/grid3-col-8.jpg" alt="">
                    </a>
                    <div class="shop-hover">
                        <div class="shop-card">
                            <a href="/contact" title="Contact to Bye">Contact to Bye <i class="ti-mobile"></i></a>
                        </div>
                        <div class="shop-wishlist">
                            <a title="Wishlist" href="#"><i class="ti-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="shop-content">
                    <div class="shop-name">
                        <h4><a href="/portfolio/single">Product Name</a></h4>
                    </div>
                    <div class="shop-price">
                        <span class="new">20,000 tk</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content area end -->
<!-- footer start -->
<%- include("../layout/footer") %>
<%- include("../layout/close") %>
<!-- footer end -->
