<%- include("../layout/header") %>
<div class="dropcap-area pt-113 pb-85">
    <div class="container">
        <div class="dropcap-style-1 mb-80">
            <div class="dropcap-title text-center mb-50">
                <h2 class="text-danger">
                    <%= metaTitle %> - Page Not Found</h2>
                <h5 class="text-secondary">The page you are looking for is not found. Please visit <a href="/" class="text-dark">home</a> page</h5>
            </div>
        </div>
    </div>
</div>
<!-- footer start -->
<%- include("../layout/footer") %>
<%- include("../layout/close") %>
<!-- footer end -->
