<%- include("../layout/header") %>
<div class="dropcap-area pt-0 pb-0">
    <div class="container">
        <div class="dropcap-style-1 mb-0">
            <div class="dropcap-title text-center mb-50">
                <img src="/uploads/404.png" alt="404-Page-Not-Found" width="600">
            </div>
        </div>
    </div>
</div>
<!-- footer start -->
<%- include("../layout/footer") %>
<%- include("../layout/close") %>
<!-- footer end -->
